.trayectoria-container{
  min-width: 90%;
}

.timeline-container {
  min-width: 45%;
  margin-right: 5%;
}

/* Flexbox para la estructura de la timeline y el video */
.timeline-video-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap; 
  flex-direction: row;
}

/* Contenedor de la línea de tiempo */
.relative.max-w-xl {
  position: relative;
  flex: 1;
}

/* Estilos para la línea de tiempo */
.timeline {
  position: relative;
}

.timeline > .absolute {
  left: 6px;
  top: 0;
  height: 66%;
  width: 0.5rem;
  background-color: var(--border-color);
  transform: translateX(-50%);
}

.relative.pl-16.pb-12 {
  padding-left: 4rem;
  padding-bottom: 3rem;
  position: relative;
}

/* Estilo para el video */
.video{
  width: 45%;
  min-height: 100%;
  margin-left: 5%;
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido (el iframe) */
  align-items: center; /* Centra verticalmente el contenido (el iframe) */
}

.video iframe {
  min-width: 100%;
  height: 400px;
  border: none;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .trayectoria-container{
      min-width: 100%;
      flex-direction: column;
  }

  .timeline-container{
      min-width: 100%;
  }

  .timeline-video-wrapper {
    flex-direction: column;
  }

  .video{
      width: auto;
      min-height: 100%;
  }

  .video iframe {
    height: auto;
    min-height: 400px;
    max-width: 100%;
    margin-top: 1rem;
  }

  .relative.max-w-xl {
    width: 100%;
  }
}