#home{
  min-height: 150% !important;
  height: 150%;
  margin-bottom: 500px;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.embla__container {
  display: flex;
  will-change: transform;
  user-select: none;
}

.embla__slide {
  position: relative;
  min-width: 100%;
  height: 100%;
  flex-shrink: 0;
}